# Python stuff
__pycache__/
*.py[cod]
*.egg
*.egg-info/
*.log

# Virtual environments
venv/
env/

# OS stuff
.DS_Store
*.swp

# Django stuff
*.sqlite3
db.sqlite3
/staticfiles/
media/

# VS Code
.vscode/
